.card, .formgrid {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background: #d8dded;
  margin-bottom: 2em;
  flex: 0 1 24%;
}

.card-content {
  padding: 0.5em;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.content-petname {
  color: darkslategrey;
}

.card button, .btn {
  background-color: #95a5b8;
  border: none;
  color: ghostwhite;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 0.5em;
  border-radius: 2px;
  margin: 0.1em;
  width: 100%;
}

.spotlight {
  max-width: 520px;
}

.card button:hover, .btn:hover {
  background-color: #29558c;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-picture {
  width: 200px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.image-div {
  text-align: center;
}

#root > .card {
  max-width: 400px;
  margin: 10px auto;
}

button:disabled,
button:disabled:hover {
  background-color: lightgray;
}